<!DOCTYPE html>
<html>
<head>
  <title>Railsdotpdf32</title>
  <%= wicked_pdf_stylesheet_link_tag    "application", :media => "all" %>
  <%= wicked_pdf_stylesheet_link_tag    "report" %>
  <%= wicked_pdf_javascript_include_tag "application" %>
</head>
<body>

<%= yield %>

</body>
</html>
